<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Shows</title>
    <style>
        *{
            margin: 10px;
        }
        table, th, td {
            border: 1px solid purple;
            border-collapse: collapse;
        }
        th, td {
            padding: 5px;
        }
        th {
            text-align: left;
        }
    </style>
</head>
<body>
    <h1>All Shows</h1>
    <div class="table">
        <table>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Network</th>
                <th>Release Date</th>
                <th>Actions</th>
            </tr>
            {% for show in shows %}
            <tr>
                <td><a href="/shows/{{show.id}}">{{show.id}}</a></td>
                <td>{{show.title}}</td>
                <td>{{show.network}}</td>
                <td>{{show.release_date}}</td>
                <td>
                    <a href="/shows/{{show.id}}">View</a>|
                    <a href="/shows/{{show.id}}/edit/">Edit</a>|
                    <a href="/destroy/{{show.id}}">Delete Show</a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <a href="/shows/new">Add New Show</a>
</body>
</html>